.navbar{
	position: fixed;
	width: 100vw;
	border:none;
	z-index: 100;
	height: 70px;
}
.navbar-brand{
	padding:0;
}

.navbar.navbar-default{
	background-color: #fffefea6;
}
.nav.navbar-nav{
	padding: 9px;

}

.actual{
	font-weight: 900;
	text-decoration: underline;
}

.logo{
	height: 70px;
}

.noticias{
	padding-top:2%;
}

.banner{
	background-image: url(esteto.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	color: #d6d6d6;
	text-align: center;


}

.jumbotron .boton{
	margin-top: 50px;
	color:#efe6e6;
}

.intro{
	text-align: center;
}

.titulo{
	text-align: center;
}
.foto{
	margin: auto;
}

.footer{
	padding-top: 100px;
}

.mensaje{
	height: 98px;
}

.foto_grupo{
	padding-top: 100px;
	
}

